@import url('http://fonts.cdnfonts.com/css/nexa-bold');

* {
    box-sizing: border-box;
    color: #4b4b4b;
    font-family: 'Nexa', sans-serif;

}

html {
    height: 100%;
}

header {
    background-color: #2C698D;

}

form {
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

footer {
    background-color: #2C698D;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

main {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

.imagen-creador {
    height: 20%;
    width: 30%;
    display: block;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

.datos-creador {
    text-align: center;
    margin-bottom: 40px;
}

.datos-creador span {
    font-weight: bold;
}

.juegos-creador {
    margin-top: 2%;
    border: 2px solid #9c9c9c;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
}

.juegos-creador tr {
    border: 2px solid #9c9c9c;
    padding: 5px;

}

.fila-juego {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.clasificacion-juego {
    display: flex;
    justify-content: space-between;
}

.datos-juego {
    display: flex;
    flex-direction: column;
    width: 100%
}

.juegos-creador span {
    font-size: xx-large;
    text-decoration: none;
}

.imagen-juego {
    width: 15%;
    height: 15%;
    margin-right: 5px;
    order: -1;
}

.boton-busqueda {
    height: 40px;
    background-color: #0077b6;
    border-radius: 20%;
    padding: 10px;
}

.input-busqueda {
    height: 40px;
    width: 300px;
    font-size: large;
}

.busqueda {
    align-items: center;
    display: flex;
}

.herramientas-busqueda {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
}


.drop-orden {
    font-size: large;
}

.drop-orden select {
    height: 40px;
    font-size: large;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #1e4861;
    padding-right: 5%;
}

.menu a {
    color: white;
    margin: 10px;
}

#logo {
    height: 5%;
    width: 5%;
    margin: 10px;
}

#nombre-pagina {
    color: white;
    font-weight: bold;
    text-decoration: none;

}

header a {
    text-decoration: none;
}

#contenedor-nombre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#contenedor-equipo{
    color: white;
    justify-content: center;

}
#contenedor-equipo h5{
    color: white;
    justify-content: center;
}

footer a{
    color: white;
}

footer li{
    color: white;
}

.cerrar-sesion{
    margin: 0 auto;
    display: block;
}

span{
    font-weight: bold;
}
 
.datos-creador li{
    list-style-type: none;
}
          
        /* Media Query for Mobile Devices */ 
        @media (max-width: 480px) { 
            
            .drop-orden{
                display: none
            }
            #logo{
                display: none
            }
            .imagen-juego{
                width: 20%
            }
            .datos-juego{
                font-size: 70%
            }
            .fila-juego{
                display:contents
            }

            .imagen-juego{
                margin-left: 35%;
                width: 30%
                    
            }

            #cal-css{
                margin-top: 10%
            }
            
        } 
          
        /* Media Query for low resolution  Tablets, Ipads */ 
        @media (min-width: 481px) and (max-width: 767px) { 
             
            #ordenarpor {
                display: none
            }
            #inputComentarios{
                width: 50%
            }
            drop-cal{
                padding-left: 15%
            }
            .imagen-juego{
                width: 40%
                    
            }
        } 
          
        /* Media Query for Tablets Ipads portrait mode */ 
        @media (min-width: 768px) and (max-width: 1024px){ 
            
        } 
          
        /* Media Query for Laptops and Desktops */ 
        @media (min-width: 1025px) and (max-width: 1280px){ 
            
        } 
          
        /* Media Query for Large screens */ 
        @media (min-width: 1281px) { 
             
        } 
    