
<%- include('../template/head')      -%>

    <main>
        <h1>
            Acerca de:
        </h1>

        <h2>
            Integrantes:
        </h2>
        <ul class="datos-creador">
            <li>
                Víctor Fernando Curiel Ortega - A0174724
            </li>
            <li>
                Rodolfo Rentería Medina - A01705071
            </li>
        </ul>

        <h2>
            Porque este proyecto:
        </h2>
        <p>
            Ya que los integrantes del proyecto compartimos interés por los videojuegos, quisimos realizar una aplicación web donde nuevos desarrolladores independientes de videojuegos puedan darse a conocer,  compartir su contenido y que las personas puedan probar esos juegos y dar su retroalimentación, de esta forma se crearía una comunidad de apoyo para todo los nuevos desarrolladores de videojuegos.
        </p>

        <h2>
            Vision:
        </h2>
        <p>
            Crear una comunidad de apoyo para nuevos desarrolladores de videojuegos independientes, donde puedan subir sus juegos y probar los de los demás usuarios, para que puedan dejar comentarios de estos y ayudar al desarrollador a mejorar en sus proyectos.
        </p>
    </main>

<%- include('../template/footer')-%>