<%- include('../template/head') -%>

    <main>
        <p>ESTA ES EL LOGIN</p>
        <a href="/">
            <button class="btn-success">Iniciar Sesión</button>
        </a>
    </main>

    <%- include('../template/footer')-%>