<footer>
    
    <div id="contenedor-equipo">
        <h5>Equipo:</h5>
        <ul>
            <li>Víctor Fernando Curiel Ortega - A0174724
            </li>
            <li>Rodolfo Rentería Medina - A01705071
            </li>
            <li>José Luis Banda Hernández - A01610329
            </li>
        </ul>
    </div>
    
    <a href="/acercade">
        <h5>Sobre nosotros</h5>
    </a>
</footer>
</body>

</html>